<h2>Sign up</h2>

<div class="row">
	<div class="span6">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:class=>"form-horizontal well"}) do |f| %>

			<% if devise_error_messages!.empty?!=true %>
		  	<div class="alert alert-error">
		  		<%= devise_error_messages! %>
      		</div>
      		<% end %>

		    <div class="control-group">
		      <%= f.label :email , :class=>"control-label", :for=>"email" %>
		      <div class="controls">
		      	<%= f.email_field :email, :autofocus => true, :class=>"input-xlarge" %>
		      </div>
		    </div>

		    <div class="control-group">
		      <%= f.label :password , :class=>"control-label", :for=>"email" %>
		      <div class="controls">
		      	<%= f.password_field :password, :class=>"input-xlarge" %>
		      </div>
		    </div>

		    <div class="control-group">
		      <%= f.label :password_confirmation , :class=>"control-label", :for=>"email" %>
		      <div class="controls">
		      	<%= f.password_field :password_confirmation, :class=>"input-xlarge" %>
		      </div>
		    </div>

		    <div class="form-actions">
		      <%= f.submit "Sign up", :class=>"btn btn-primary" %>
		    </div>

		<% end %>

		<div class="well">
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>
