<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Ruby on Rails for Starters</a>

			<div class="nav-collapse collapse" id="main-menu">
				<ul class="nav">
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<% if user_signed_in? %>
						<li>
							<%= link_to "Manage Topics", topics_path %> 
						</li>
					<% end %>					
					<li>
						<%= link_to "Post an Article", new_article_path %>
					</li>					
					<li style="padding: 7px 0px 0px 10px;">
		<%= form_tag(search_articles_path, :remote=>true,  :html=>{:class=>"navbar-search"}) do %>
					<input type="text" class="search-query span2" name="search" placeHolder="Search">
					<button type="submit" class="btn btn-small">Search</button>	
		<% end %>
					</li>
				</ul>


				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li class="disabled">
							<a>Welcome <%= current_user.email %></a>
						</li>
						<li>
							<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
						</li>						
					<% else %>
						<li> 
							<%= link_to "Sign in", new_user_session_path %>
						</li>
						<li> 
							<%= link_to "Sign up", new_user_registration_path %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
