<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content.html_safe %>
</p>

<h2>Feedback</h2>

<% @article.feedbacks.each do |feedback| %>
	<%= feedback.notes %> <br>
<% end %>


<%= form_for @feedback, url: article_feedbacks_path(@article) do |f| %>
	<%= f.text_area :notes %>
	<br>
	<%= f.submit %>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
