<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<p>
  <b>Description:</b>
  <%= @topic.description %>
</p>

<h2>Articles</h2>

<% @topic.articles.each do |article| %>
	<%= link_to article.title, article_path(article) %> <br>

	<%= link_to "Edit", edit_article_path(article) %> |
	<%= link_to "Delete".html_safe, article_path(article), method: :delete, confirm: "Are you sure you want to delete this article?", class: "btn" %>
<% end %>

<br>
<br>
<%= link_to 'Edit Topic', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
