<!DOCTYPE html>
<html>
<head>
  <title>Ruby Knowledget Base</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'nicEdit' -%>
  
</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80" style="margin-top: 36px;">
	<%= render "/layouts/shared/header_bar" %>

	<div class="container">
		<div id="middle">
			<%= yield %>
		</div>

		<% if notice || alert %>
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		<% end %>

		<hr>
		<%= render "/layouts/shared/footer" %>
	</div>
</body>
</html>
